docs/archive/20250928_143206/n8n_error_notifier_imessage copy.json
{
  "name": "Homertrakker",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        }
      },
      "id": "dae5bda3-4a1a-4c46-8b20-b5fbed2a3215",
      "name": "01 Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-1360, 384]
    },
    {
      "parameters": {
        "jsCode": "const tz = \"America/New_York\";function fmt(d){const ld=new Date(d.toLocaleString(\"en-US\",{timeZone:tz}));return ld.toISOString().slice(0,10);}const now=new Date();const today=fmt(now);const yday=fmt(new Date(now.getTime()-24*3600*1000));return [{today,yday}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1136, 384],
      "id": "34f5729c-5c7b-410b-85d4-4ea781f33008",
      "name": "02 Compute Dates1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.today + '&hydrate=team,linescore' }}"
      },
      "id": "407ebb71-d328-4319-878d-4ccfd85f0615",
      "name": "03 Schedule Today1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-912, 288],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.yday + '&hydrate=team,linescore' }}"
      },
      "id": "0f27126c-0736-4831-85d1-0da600efdad2",
      "name": "03b Schedule Yesterday1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-912, 480],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const all=$input.all().flatMap(it=>(it.json.dates||[]).flatMap(d=>d.games||[]));const now=Date.now(),pre=600000,post=21600000;const active=all.filter(g=>{try{const t=new Date(g.gameDate).getTime();return (t-pre)<=now && now<=(t+post);}catch{return false;}});return active.map(g=>({json:{gamePk:g.gamePk}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-688, 384],
      "id": "d7e57d96-e6b1-4478-a4f6-f3804e6bed05",
      "name": "04 Filter Active Games1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1.1/game/' + $json.gamePk + '/feed/live' }}"
      },
      "id": "ec64fce8-5341-4d7f-980c-8d1fd7272682",
      "name": "05 Live Feed1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-464, 384],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const out=[];$input.all().forEach(it=>{const plays=it.json.liveData?.plays?.allPlays||[];const gamePk=it.json.gamePk;for(const p of plays){if(p.result?.eventType==='home_run') out.push({json:{gamePk,play:p}});}});return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 384],
      "id": "b4ae3684-e75a-46a9-bed5-08176c2c13d2",
      "name": "06 Extract New HR Plays1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/game/' + $json.gamePk + '/content' }}"
      },
      "id": "4ce4f974-2cab-47bc-8513-1a3b6b470065",
      "name": "07 Game Content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [-16, 384],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const inputs=$input.all();const hrs=$items(\"06 Extract New HR Plays1\",0)||[];const out=[];function asArr(x){return Array.isArray(x)?x:(x?[x]:[])}function collect(c){const it=[];const h=c?.highlights||{};it.push(...asArr(h?.highlights?.items));it.push(...asArr(h?.live?.items));const ed=c?.editorial||{};it.push(...asArr(ed?.recap?.items));it.push(...asArr(ed?.featured?.items));const m=c?.media||{};for(const g of asArr(m?.epg)) it.push(...asArr(g?.items));return it.filter(Boolean)}function playbacks(it){const p=it?.playbacks||[];return p.map(pb=>pb?.url||\"\").filter(u=>u.endsWith('.mp4'))}function rxAll(c){try{const s=JSON.stringify(c);const m=s.match(/https?:\\/\\/[^\"']+\\.mp4/gi)||[];return Array.from(new Set(m))}catch{return[]}}function prefer4000K(a){if(!a?.length) return null;return a.find(u=>u.includes('4000K'))||a[0]}for(let i=0;i<inputs.length;i++){const c=inputs[i]?.json??{};const u=hrs[i]?.json??{};const play=u.play,gamePk=u.gamePk;if(!play||!gamePk) continue;const batterId=play?.matchup?.batter?.id;const items=collect(c);const urls=[];for(const it of items){const t=String(it?.headline||it?.title||it?.blurb||it?.description||\"\").toLowerCase();const looks=t.includes('home run')||t.includes('homers')||t.includes('homer');const by=!batterId||(it?.keywordsAll||[]).some(k=>k?.type==='player'&&String(k?.playerId)===String(batterId));if(!looks||!by) continue;urls.push(...playbacks(it))}if(urls.length===0) urls.push(...rxAll(c));const unique=[...new Set(urls)];const diamond=unique.filter(u=>u.includes('mlb-cuts-diamond.mlb.com'));const dark=unique.filter(u=>u.includes('darkroom-clips.mlb.com')||u.includes('darkroom'));const d=prefer4000K(diamond);const a=dark[0]||null;if(d&&a) out.push({json:{gamePk,play,d,a}})}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 384],
      "id": "3b7af114-167c-4461-9609-52276ca93228",
      "name": "08 Select 4000K + Animated1",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all().map((item,idx)=>{const j=item.json||{};const play=j.play;const gamePk=j.gamePk;const d=j.d;const a=j.a;const tz=\"America/New_York\";const now=new Date();const ld=new Date(now.toLocaleString(\"en-US\",{timeZone:tz}));const pad=n=>n<10?(\"0\"+n):(\"\"+n);const today=ld.toISOString().slice(0,10);const ts=ld.getFullYear()+pad(ld.getMonth()+1)+pad(ld.getDate())+\"_\"+pad(ld.getHours())+pad(ld.getMinutes())+pad(ld.getSeconds());const baseDir=\"/Users/benbirkhahn/HomerTrakker\";const postsDir=baseDir+\"/MLB_HomeRun_Posts/\"+today;const videosDir=postsDir+\"/videos\";const atbat=((play?.about?.atBatIndex??idx)+1);const num=String(gamePk)+String(atbat).padStart(3,'0');function basename(u){try{const f=new URL(u).pathname.split('/').pop()||'asset.mp4';return f.replace(/[^A-Za-z0-9._-]/g,'')}catch{const m=String(u).match(/([^/?#]+\\.mp4)(?:[?#]|$)/i);return (m&&m[1])||`asset_${Date.now()}.mp4`}}const file1=`homer_${num}_1_${basename(d)}`;const file2=`homer_${num}_2_animated_${basename(a)}`;const video1Path=`${videosDir}/${file1}`;const video2Path=`${videosDir}/${file2}`;const postPath=`${postsDir}/tonights_homer_${num}_${ts}.txt`;const batter=play?.matchup?.batter?.fullName||'Unknown Player';const pitcher=play?.matchup?.pitcher?.fullName||'';const inning=`${play?.about?.halfInning||''} ${play?.about?.inning||''}`.trim();const desc=play?.result?.description||'';const lines=[];lines.push(\"TONIGHT'S HOME RUN - READY FOR @homertrakker\");lines.push(\"=======================================================\");lines.push(\"\");lines.push(\"CAPTION:\");lines.push(\"🏠⚾ HOME RUN ALERT! ⚾🏠\");lines.push(`🔥 ${batter}`);if(pitcher)lines.push(`⚾ vs ${pitcher}`);if(inning)lines.push(`📊 ${inning}`);if(desc)lines.push(desc);lines.push(\"\");lines.push(\"HASHTAGS:\");lines.push(\"#MLB #HomeRun #Baseball #MLBShorts #Statcast\");lines.push(\"\");lines.push(\"VIDEOS:\");lines.push(\"1. clip\");lines.push(`   ${d}`);lines.push(\"2. clip\");lines.push(`   ${a}`);lines.push(\"\");lines.push(\"HOME RUN DATA:\");lines.push(`GamePk: ${gamePk}`);lines.push(`Batter: ${batter}`);if(inning)lines.push(`Inning: ${inning}`);const postText=lines.join('\\n')+'\\n';return {json:{today,num,postText,postPath,postsDir,videosDir,d,a,video1Path,video2Path,gamePk}}});return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [432, 384],
      "id": "49d6b302-f45d-4d83-a3ff-da80d5db26d6",
      "name": "09 Build Post + Paths",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=/bin/zsh -lc 'mkdir -p \"{{$json.postsDir}}\" \"{{$json.videosDir}}\"'"
      },
      "id": "b24b5a23-054e-4c9d-aa57-45a7776876f1",
      "name": "10 Ensure Dirs1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [656, 384],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const out=[];const src=$items(\"09 Build Post + Paths\",0)||[];for(const it of src){const j=it.json||{};const buf=Buffer.from(String(j.postText||''),'utf8');const bin=await this.helpers.prepareBinaryData(buf,'post.txt');out.push({json:j,binary:{data:bin}})}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1104, 192],
      "id": "84a77c0b-b590-40d2-a8bf-868942bbe446",
      "name": "11 Make Post Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.postPath}}",
        "dataPropertyName": "=data"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1328, 192],
      "id": "46fe17f2-da37-4b81-a3f8-484b3bc1abab",
      "name": "12 Write Post"
    },
    {
      "parameters": {
        "jsCode": "const src=$items(\"09 Build Post + Paths\",0)||[];const out=[];for(const it of src){const j=it.json||{};if(typeof j.d==='string'&&j.d.startsWith('http')) out.push({json:j})}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 384],
      "id": "db0f4f6b-d723-4f6a-b2b6-89150cf01c5b",
      "name": "Filter Diamond URLs"
    },
    {
      "parameters": {
        "url": "={{$json.d}}",
        "options": { "response": { "response": { "responseFormat": "file" } }, "timeout": 20000 }
      },
      "id": "008d2f29-3047-4679-889c-2a4b91561013",
      "name": "13 Download Diamond",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1104, 384],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.video1Path}}",
        "dataPropertyName": "=data"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1328, 384],
      "id": "261024b1-8e4e-423d-b273-2f309ccc653b",
      "name": "Save Diamond"
    },
    {
      "parameters": {
        "jsCode": "const src=$items(\"09 Build Post + Paths\",0)||[];const out=[];for(const it of src){const j=it.json||{};if(typeof j.a==='string'&&j.a.startsWith('http')) out.push({json:j})}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 576],
      "id": "d2f4a470-81dd-4bd9-9e7d-dc17e516396e",
      "name": "Filter Animated URLs"
    },
    {
      "parameters": {
        "url": "={{$json.a}}",
        "options": { "response": { "response": { "responseFormat": "file" } }, "timeout": 20000 }
      },
      "id": "1ccc60cd-51d3-4ecb-af96-0af6b1b7350c",
      "name": "15 Download Animated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1104, 576],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.video2Path}}",
        "dataPropertyName": "=data"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1328, 576],
      "id": "a450c980-9286-43ec-b1f7-2ae1f9174185",
      "name": "Save Animated"
    },
    {
      "parameters": { "mode": "chooseBranch", "numberInputs": 3 },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1552, 368],
      "id": "7a7985ea-05a0-4cd8-aaa9-3145b6041492",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc 'export HOMER_REQUIRE_BOTH=1 HOMER_BROADCAST_MAX_SECS=15 HOMER_TOTAL_MAX_SECS=30; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/shorts_video_compiler.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1776, 384],
      "id": "f0f31051-f797-4896-b8ee-7dc957224b3c",
      "name": "17 Compile Shorts"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc 'export HOMER_NOTIFY_PHONE=+19144142424; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/uploader_runner.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2000, 384],
      "id": "7aff3458-9fae-4839-b4f8-61ac13a2898a",
      "name": "18 Upload to YouTube"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc '/Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/cleanup_media.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2224, 384],
      "id": "51eb7e27-9b51-46fd-a263-5c0fda1f54ed",
      "name": "19 Cleanup Media"
    }
  ],
  "connections": {
    "01 Cron": { "main": [[{ "node": "02 Compute Dates1", "type": "main", "index": 0 }]] },
    "02 Compute Dates1": { "main": [[{ "node": "03 Schedule Today1", "type": "main", "index": 0 }, { "node": "03b Schedule Yesterday1", "type": "main", "index": 0 }]] },
    "03 Schedule Today1": { "main": [[{ "node": "04 Filter Active Games1", "type": "main", "index": 0 }]] },
    "03b Schedule Yesterday1": { "main": [[{ "node": "04 Filter Active Games1", "type": "main", "index": 0 }]] },
    "04 Filter Active Games1": { "main": [[{ "node": "05 Live Feed1", "type": "main", "index": 0 }]] },
    "05 Live Feed1": { "main": [[{ "node": "06 Extract New HR Plays1", "type": "main", "index": 0 }]] },
    "06 Extract New HR Plays1": { "main": [[{ "node": "07 Game Content1", "type": "main", "index": 0 }]] },
    "07 Game Content1": { "main": [[{ "node": "08 Select 4000K + Animated1", "type": "main", "index": 0 }]] },
    "08 Select 4000K + Animated1": { "main": [[{ "node": "09 Build Post + Paths", "type": "main", "index": 0 }]] },
    "09 Build Post + Paths": { "main": [[{ "node": "10 Ensure Dirs1", "type": "main", "index": 0 }]] },
    "10 Ensure Dirs1": { "main": [[{ "node": "11 Make Post Binary", "type": "main", "index": 0 }, { "node": "Filter Diamond URLs", "type": "main", "index": 0 }, { "node": "Filter Animated URLs", "type": "main", "index": 0 }]] },
    "11 Make Post Binary": { "main": [[{ "node": "12 Write Post", "type": "main", "index": 0 }]] },
    "Filter Diamond URLs": { "main": [[{ "node": "13 Download Diamond", "type": "main", "index": 0 }]] },
    "13 Download Diamond": { "main": [[{ "node": "Save Diamond", "type": "main", "index": 0 }]] },
    "Filter Animated URLs": { "main": [[{ "node": "15 Download Animated", "type": "main", "index": 0 }]] },
    "15 Download Animated": { "main": [[{ "node": "Save Animated", "type": "main", "index": 0 }]] },
    "Save Diamond": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Save Animated": { "main": [[{ "node": "Merge", "type": "main", "index": 2 }]] },
    "12 Write Post": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Merge": { "main": [[{ "node": "17 Compile Shorts", "type": "main", "index": 0 }]] },
    "17 Compile Shorts": { "main": [[{ "node": "18 Upload to YouTube", "type": "main", "index": 0 }]] },
    "18 Upload to YouTube": { "main": [[{ "node": "19 Cleanup Media", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true, "callerPolicy": "workflowsFromSameOwner" },
  "id": "ybWTFHVavs5dweG1",
  "tags": []
}
