docs/archive/20250928_143358/homertrakker_workflow.json.bak
{
  "name": "Homertrakker",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const tz = \"America/New_York\";function fmt(d){const ld=new Date(d.toLocaleString(\"en-US\",{timeZone:tz}));return ld.toISOString().slice(0,10);}const now=new Date();const today=fmt(now);const yday=fmt(new Date(now.getTime()-24*3600*1000));return [{today,yday}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        176
      ],
      "id": "849d1c60-90e9-4724-9477-5e4b34475b1e",
      "name": "02 Compute Dates1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.today + '&hydrate=team,linescore' }}",
        "options": {}
      },
      "id": "35c06816-eead-4182-98ee-4b01f5882502",
      "name": "03 Schedule Today1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1808,
        80
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.yday + '&hydrate=team,linescore' }}",
        "options": {}
      },
      "id": "620323de-52c7-4475-b9c4-29dffdbc3589",
      "name": "03b Schedule Yesterday1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1808,
        272
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const all=$input.all().flatMap(it=>(it.json.dates||[]).flatMap(d=>d.games||[]));const now=Date.now(),pre=600000,post=21600000;const active=all.filter(g=>{try{const t=new Date(g.gameDate).getTime();return (t-pre)<=now && now<=(t+post);}catch{return false;}});return active.map(g=>({json:{gamePk:g.gamePk}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        176
      ],
      "id": "17fb35e6-aefa-46d3-9b46-bb65c9540d07",
      "name": "04 Filter Active Games1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1.1/game/' + $json.gamePk + '/feed/live' }}",
        "options": {}
      },
      "id": "8fd50b6a-c9ad-4426-a5a1-68d5618c4727",
      "name": "05 Live Feed1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1360,
        176
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const out=[];$input.all().forEach(it=>{const plays=it.json.liveData?.plays?.allPlays||[];const gamePk=it.json.gamePk;for(const p of plays){if(p.result?.eventType==='home_run') out.push({json:{gamePk,play:p}});}});return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        176
      ],
      "id": "0978a0f4-a41f-445e-9f9f-c9cf874530d6",
      "name": "06 Extract New HR Plays1"
    },
    {
      "parameters": {
        "url": "={{ 'https://statsapi.mlb.com/api/v1/game/' + $json.gamePk + '/content' }}",
        "options": {}
      },
      "id": "4eca80cb-d1b3-4893-bbb3-50d759db2bad",
      "name": "07 Game Content1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -912,
        176
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const plays=$items(\"06 Extract New HR Plays1\");const contents=$input.all();function asArr(x){return Array.isArray(x)?x:(x?[x]:[]);}function uniq(a){return Array.from(new Set(a));}function norm(s){return String(s||\"\").toLowerCase().replace(/[^a-z0-9]+/g,\" \").trim();}function lastName(s){const t=norm(s).split(\" \").filter(Boolean);return t.length?t[t.length-1]:\"\";}function prefer4000K(u){return u.find(x=>/4000k/i.test(x))||u[0]||null;}function getGamePkFromContent(c){const link=c?.link||\"\";const m=link.match(/game\\/(\\d+)\\/content/);if(m) return m[1];return String(c?.gamePk||c?.game_pk||\"\");}function collectItems(c){const items=[];const h=c?.highlights||{};items.push(...asArr(h?.highlights?.items));items.push(...asArr(h?.live?.items));const ed=c?.editorial||{};if(ed?.recap?.mlb) items.push(ed.recap.mlb);items.push(...asArr(ed?.recap?.items));items.push(...asArr(ed?.featured?.items));items.push(...asArr(ed?.highlights?.items));const m=c?.media||{};for(const g of asArr(m?.epg)) items.push(...asArr(g?.items));for(const g of asArr(m?.epgAlternate)) items.push(...asArr(g?.items));return items.filter(Boolean);}function getPlaybacks(it){const p=asArr(it?.playbacks).concat(asArr(it?.media?.playbacks));return uniq(p.map(pb=>pb?.url||\"\").filter(u=>typeof u===\"string\"&&/\\.mp4(\\?|$)/i.test(u)));}function getText(it){return norm(it?.headline||it?.title||it?.blurb||it?.description||it?.media?.title||\"\");}function getKeywordsAll(it){return asArr(it?.keywordsAll).concat(asArr(it?.media?.keywordsAll));}function extractPlayerIds(it){const ids=new Set();for(const k of getKeywordsAll(it)){const v=String(k?.value??\"\").toLowerCase();if(k?.playerId!=null) ids.add(String(k.playerId));if(k?.personId!=null) ids.add(String(k.personId));if(k?.player_id!=null) ids.add(String(k.player_id));if(k?.person_id!=null) ids.add(String(k.person_id));const m=v.match(/playerid-(\\d+)/);if(m) ids.add(m[1]);if(/^\\d+$/.test(v)) ids.add(v);}return ids;}function itemHasBatter(it,bId,bName){const ids=extractPlayerIds(it);if(ids.has(String(bId))) return true;const txt=getText(it);const ln=lastName(bName);const full=norm(bName);return (ln&&txt.includes(ln))||(full&&txt.includes(full));}const contentByGame={};for(const inp of contents){const cj=inp?.json??{};const gpk=getGamePkFromContent(cj);if(!gpk) continue;if(!contentByGame[gpk]) contentByGame[gpk]=[];contentByGame[gpk].push(...collectItems(cj));}function selectClips(gamePk,bId,bName){const items=contentByGame[String(gamePk)]||[];if(!items.length) return {d:null,a:null,pickedFrom:\"\",matchedBy:\"noContent\"};const hrItems=items.filter(it=>{const t=getText(it);return t.includes(\"home run\")||t.includes(\"homers\")||t.includes(\"homer\")});let candidates=hrItems.filter(it=>itemHasBatter(it,bId,bName));let matchedBy=\"keywordsAll.playerId|name\";if(!candidates.length){candidates=items.filter(it=>itemHasBatter(it,bId,bName));matchedBy=\"broad.nameOrId\";}let d=null,a=null,pickedFrom=\"\";for(const it of candidates){const urls=getPlaybacks(it);const diamond=urls.filter(u=>/mlb-cuts-diamond\\.mlb\\.com/i.test(u));const pd=prefer4000K(diamond);if(pd){d=pd;pickedFrom=it?.headline||it?.title||\"\";break;}}if(!d) return {d:null,a:null,pickedFrom:\"\",matchedBy:\"noDiamond\"};const darkroomItems=items.filter(it=>itemHasBatter(it,bId,bName)).map(it=>({it,urls:getPlaybacks(it)})).filter(x=>x.urls.some(u=>/darkroom-clips\\.mlb\\.com/i.test(u)));darkroomItems.sort((a,b)=>{const at=getText(a.it),bt=getText(b.it);const aHr=(at.includes(\"home run\")||at.includes(\"homers\")||at.includes(\"homer\"))?1:0;const bHr=(bt.includes(\"home run\")||bt.includes(\"homers\")||bt.includes(\"homer\"))?1:0;return bHr-aHr;});for(const x of darkroomItems){const pa=x.urls.find(u=>/darkroom-clips\\.mlb\\.com/i.test(u)&&/\\.mp4(\\?|$)/i.test(u));if(pa){a=pa;break;}}return {d,a,pickedFrom,matchedBy};}const out=[];for(const p of plays){const pj=p.json||{};const gamePk=pj.gamePk;const play=pj.play;if(!gamePk||!play) continue;const bId=play?.matchup?.batter?.id;const bName=play?.matchup?.batter?.fullName||\"\";const {d,a,pickedFrom,matchedBy}=selectClips(gamePk,bId,bName);if(!d) continue;out.push({json:{gamePk,play,d,a,debug:{matchedBy,pickedFrom,batter:bName,haveDarkroom:!!a}}});}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        176
      ],
      "id": "b8fd7a5e-c5c9-4db3-ab8f-bb76238831df",
      "name": "08 Select 4000K + Animated1",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const j=$json;const gamePk=j.gamePk;const play=j.play;const batter=play?.matchup?.batter?.fullName||\"\";const pitcher=play?.matchup?.pitcher?.fullName||\"\";const inning=`${play?.about?.halfInning||\"\"} ${play?.about?.inning||\"\"}`.trim();const desc=play?.result?.description||\"\";const atBat=(play?.atBatIndex??0)+1;const num=`${gamePk}${String(atBat).padStart(3,'0')}`;const now=new Date();const today=now.toISOString().slice(0,10);const dateCompact=today.replace(/-/g,'');const timePart=now.toISOString().slice(11,19).replace(/:/g,'');const baseDir=\"/Users/benbirkhahn/HomerTrakker/MLB_HomeRun_Posts\";const postsDir=`${baseDir}/${today}`;const videosDir=`${postsDir}/videos`;const d=j.d||null;const a=j.a||null;const dName=d?d.split('/').pop().split('?')[0]:null;const aName=a?a.split('/').pop().split('?')[0]:null;const video1Path=d?`${videosDir}/homer_${num}_1_${dName}`:null;const video2Path=a?`${videosDir}/homer_${num}_2_animated_${aName}`:null;const postText=`TONIGHT'S HOME RUN - READY FOR @homertrakker\n=======================================================\n\nCAPTION:\n🏠⚾ HOME RUN ALERT! ⚾🏠\n🔥 ${batter}\n⚾ vs ${pitcher}\n📊 ${inning}\n${desc}\n\nHASHTAGS:\n#MLB #HomeRun #Baseball #MLBShorts #Statcast\n\nVIDEOS:\n1. clip\n   ${d}\n2. clip\n   ${a||'null'}\n\nHOME RUN DATA:\nGamePk: ${gamePk}\nBatter: ${batter}\nInning: ${inning}\n`;const postPath=`${postsDir}/tonights_homer_${num}_${dateCompact}_${timePart}.txt`;return [{json:{today,num,postText,postPath,postsDir,videosDir,d,a,video1Path,video2Path,gamePk}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        176
      ],
      "id": "96095b29-bdd2-4e98-8715-9f7de9ce05ba",
      "name": "09 Build Post + Paths",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=/bin/zsh -lc 'mkdir -p \"{{$json.postsDir}}\" \"{{$json.videosDir}}\"'"
      },
      "id": "2ad97ecd-16db-4012-8c38-cd31d3f128e3",
      "name": "10 Ensure Dirs1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const out=[];const src=$items(\"09 Build Post + Paths\",0)||[];for(const it of src){const j=it.json||{};const isMp4=(typeof j.d==='string' && /\\.mp4(\\?|$)/i.test(j.d));if(isMp4) out.push({json:j});}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        176
      ],
      "id": "bd6a4fd5-33bd-44f6-908b-002592e06ce9",
      "name": "Filter Diamond URLs"
    },
    {
      "parameters": {
        "url": "={{$json.d}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 20000
        }
      },
      "id": "441dcaf4-0581-4ff2-87ac-8d935c5ca1d2",
      "name": "13 Download Diamond",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        208,
        176
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.video1Path}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        432,
        176
      ],
      "id": "c168aada-06be-4faa-897f-bb9628683d8c",
      "name": "Save Diamond"
    },
    {
      "parameters": {
        "jsCode": "const out=[];const src=$items(\"09 Build Post + Paths\",0)||[];for(const it of src){const j=it.json||{};const isMp4=(typeof j.a==='string' && /\\.mp4(\\?|$)/i.test(j.a));if(isMp4) out.push({json:j});}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        368
      ],
      "id": "5c955f76-83d9-49e0-a047-1dcbc386f13f",
      "name": "Filter Animated URLs"
    },
    {
      "parameters": {
        "url": "={{$json.a}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 20000
        }
      },
      "id": "d77efa05-1d5c-46b8-a1e6-5cc1b722f9ba",
      "name": "15 Download Animated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        208,
        368
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.video2Path}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        432,
        368
      ],
      "id": "96e7e927-751c-499b-adb9-80433ec31e1c",
      "name": "Save Animated"
    },
    {
      "parameters": {
        "jsCode": "const src=$items(\"09 Build Post + Paths\",0)||[];const out=[];for(const it of src){const j=it.json||{};const buf=Buffer.from(String(j.postText||''),'utf8');const bin=await this.helpers.prepareBinaryData(buf,'post.txt');out.push({json:j,binary:{data:bin}})}return out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -16
      ],
      "id": "5127e436-20b7-43f2-b7b3-bc0320f1295a",
      "name": "11 Make Post Binary"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{$json.postPath}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        432,
        -16
      ],
      "id": "c9db4657-a58e-4cc8-9458-a10e9cc9db11",
      "name": "12 Write Post"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        160
      ],
      "id": "dae9f9bd-2ad0-407e-98bb-8ddd16e47773",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc 'export HOMER_REQUIRE_BOTH=1 HOMER_BROADCAST_MAX_SECS=15 HOMER_TOTAL_MAX_SECS=30; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/shorts_video_compiler.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "id": "35c17614-70f9-4af0-82ed-6046cf516832",
      "name": "17 Compile Shorts"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc 'export HOMER_NOTIFY_PHONE=+19144142424; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/uploader_runner.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1104,
        176
      ],
      "id": "70da2982-5be9-40bb-bf89-ef40172ff87b",
      "name": "18 Upload to YouTube"
    },
    {
      "parameters": {
        "command": "=/bin/zsh -lc '/Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/cleanup_media.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        176
      ],
      "id": "21cec374-185a-462d-9737-14bf481661e7",
      "name": "19 Cleanup Media"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "da07124f-cdef-444f-a94f-074755ce25b0",
      "name": "01 Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2256,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "02 Compute Dates1": {
      "main": [
        [
          {
            "node": "03 Schedule Today1",
            "type": "main",
            "index": 0
          },
          {
            "node": "03b Schedule Yesterday1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Schedule Today1": {
      "main": [
        [
          {
            "node": "04 Filter Active Games1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03b Schedule Yesterday1": {
      "main": [
        [
          {
            "node": "04 Filter Active Games1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Filter Active Games1": {
      "main": [
        [
          {
            "node": "05 Live Feed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Live Feed1": {
      "main": [
        [
          {
            "node": "06 Extract New HR Plays1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 Extract New HR Plays1": {
      "main": [
        [
          {
            "node": "07 Game Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 Game Content1": {
      "main": [
        [
          {
            "node": "08 Select 4000K + Animated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 Select 4000K + Animated1": {
      "main": [
        [
          {
            "node": "09 Build Post + Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 Build Post + Paths": {
      "main": [
        [
          {
            "node": "10 Ensure Dirs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Ensure Dirs1": {
      "main": [
        [
          {
            "node": "Filter Diamond URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Animated URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "11 Make Post Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Diamond URLs": {
      "main": [
        [
          {
            "node": "13 Download Diamond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 Download Diamond": {
      "main": [
        [
          {
            "node": "Save Diamond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Animated URLs": {
      "main": [
        [
          {
            "node": "15 Download Animated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 Download Animated": {
      "main": [
        [
          {
            "node": "Save Animated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Diamond": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Animated": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "11 Make Post Binary": {
      "main": [
        [
          {
            "node": "12 Write Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 Write Post": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "17 Compile Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "17 Compile Shorts": {
      "main": [
        [
          {
            "node": "18 Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "18 Upload to YouTube": {
      "main": [
        [
          {
            "node": "19 Cleanup Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 Cron1": {
      "main": [
        [
          {
            "node": "02 Compute Dates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1923b8b-bf30-4a5a-81f6-6108edee2704",
  "meta": {
    "instanceId": "524e124eb3d80897547ebc60a234f0ba7254bc0be6d8c9303ed17ca235ea759e"
  },
  "id": "YFz4KNStbZwIAcBe",
  "tags": []
}