docs/homertrakker_workflow_dedupe.json
{
  "name": "Homertrakker (dedupe)",
  "nodes": [
    {
      "parameters": {"triggerTimes": {"item": [{"mode": "everyMinute"}] } },
      "id": "cron-01",
      "name": "01 Cron1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-2256,176]
    },
    {
      "parameters": {
        "jsCode": "const tz=\"America/New_York\";function fmt(d){const ld=new Date(d.toLocaleString(\"en-US\",{timeZone:tz}));return ld.toISOString().slice(0,10);}const now=new Date();const today=fmt(now);const yday=fmt(new Date(now.getTime()-24*3600*1000));return [{today,yday}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2032,176],
      "id": "code-02",
      "name": "02 Compute Dates1"
    },
    {
      "parameters": {"url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.today + '&hydrate=team,linescore' }}", "options": {}},
      "id": "http-03-today","name": "03 Schedule Today1","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [-1808,80],"retryOnFail": true,"waitBetweenTries": 5000
    },
    {
      "parameters": {"url": "={{ 'https://statsapi.mlb.com/api/v1/schedule?sportId=1&date=' + $json.yday + '&hydrate=team,linescore' }}", "options": {}},
      "id": "http-03b-yday","name": "03b Schedule Yesterday1","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [-1808,272],"retryOnFail": true,"waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const all=$input.all().flatMap(it=>(it.json.dates||[]).flatMap(d=>d.games||[]));const now=Date.now(),pre=172800000,post=172800000;const active=all.filter(g=>{try{const t=new Date(g.gameDate).getTime();return (t-pre)<=now && now<=(t+post);}catch{return false;}});return active.map(g=>({json:{gamePk:g.gamePk}}));"
      },
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [-1584,176],"id": "code-04","name": "04 Filter Active Games1"
    },
    {
      "parameters": {"url": "={{ 'https://statsapi.mlb.com/api/v1.1/game/' + $json.gamePk + '/feed/live' }}", "options": {}},
      "id": "http-05","name": "05 Live Feed1","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [-1360,176],"retryOnFail": true,"waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const out=[];const input=$input.all();const source=$items('04 Filter Active Games1',0)||[];const seen={};for(let i=0;i<input.length;i++){const it=input[i];const plays=it.json?.liveData?.plays?.allPlays||[];const gamePk=source[i]?.json?.gamePk??it.json?.gamePk??it.json?.gameData?.game?.pk??null;if(!gamePk)continue;for(const p of plays){if(p?.result?.eventType!=='home_run')continue;const playId=p?.playId??null;const atBatIndex=p?.about?.atBatIndex??'x';const key=playId?`hr:${gamePk}:${playId}`:`hr:${gamePk}:ab:${atBatIndex}`;if(seen[key])continue;seen[key]=true;out.push({json:{gamePk,play:p}})}}return out;"
      },
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [-1136,176],"id": "code-06","name": "06 Extract New HR Plays1"
    },
    {
      "parameters": {"url": "={{ 'https://statsapi.mlb.com/api/v1/game/' + $json.gamePk + '/content' }}", "options": {}},
      "id": "http-07","name": "07 Game Content1","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [-912,176],"retryOnFail": true,"waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const plays=$items(\"06 Extract New HR Plays1\");const contents=$input.all();function asArr(x){return Array.isArray(x)?x:(x?[x]:[]);}function uniq(a){return Array.from(new Set(a));}function norm(s){return String(s||\"\").toLowerCase().replace(/[^a-z0-9]+/g,\" \").trim();}function lastName(s){const t=norm(s).split(\" \").filter(Boolean);return t.length?t[t.length-1]:\"\";}function prefer4000K(u){return u.find(x=>/4000k/i.test(x))||u[0]||null;}function getGamePkFromContent(c){const link=c?.link||\"\";const m=link.match(/game\\/(\\d+)\\/content/);if(m) return m[1];return String(c?.gamePk||c?.game_pk||\"\");}function collectItems(c){const items=[];const h=c?.highlights||{};items.push(...asArr(h?.highlights?.items));items.push(...asArr(h?.live?.items));const ed=c?.editorial||{};if(ed?.recap?.mlb) items.push(ed.recap.mlb);items.push(...asArr(ed?.recap?.items));items.push(...asArr(ed?.featured?.items));items.push(...asArr(ed?.highlights?.items));const m=c?.media||{};for(const g of asArr(m?.epg)) items.push(...asArr(g?.items));for(const g of asArr(m?.epgAlternate)) items.push(...asArr(g?.items));return items.filter(Boolean);}function getPlaybacks(it){const p=asArr(it?.playbacks).concat(asArr(it?.media?.playbacks));return uniq(p.map(pb=>pb?.url||\"\").filter(u=>typeof u===\"string\"&&/\\.mp4(\\?|$)/i.test(u)));}function getText(it){return norm(it?.headline||it?.title||it?.blurb||it?.description||it?.media?.title||\"\");}function getKeywordsAll(it){return asArr(it?.keywordsAll).concat(asArr(it?.media?.keywordsAll));}function extractPlayerIds(it){const ids=new Set();for(const k of getKeywordsAll(it)){const v=String(k?.value??\"\").toLowerCase();if(k?.playerId!=null) ids.add(String(k.playerId));if(k?.personId!=null) ids.add(String(k.personId));if(k?.player_id!=null) ids.add(String(k.player_id));if(k?.person_id!=null) ids.add(String(k.person_id));const m=v.match(/playerid-(\\d+)/);if(m) ids.add(m[1]);if(/^\\d+$/.test(v)) ids.add(v);}return ids;}function itemHasBatter(it,bId,bName){const ids=extractPlayerIds(it);if(ids.has(String(bId))) return true;const txt=getText(it);const ln=lastName(bName);const full=norm(bName);return (ln&&txt.includes(ln))||(full&&txt.includes(full));}const contentByGame={};for(const inp of contents){const cj=inp?.json??{};const gpk=getGamePkFromContent(cj);if(!gpk) continue;if(!contentByGame[gpk]) contentByGame[gpk]=[];contentByGame[gpk].push(...collectItems(cj));}function selectClips(gamePk,bId,bName){const items=contentByGame[String(gamePk)]||[];if(!items.length) return {d:null,a:null,pickedFrom:\"\",matchedBy:\"noContent\"};const hrItems=items.filter(it=>{const t=getText(it);return t.includes(\"home run\")||t.includes(\"homers\")||t.includes(\"homer\")});let candidates=hrItems.filter(it=>itemHasBatter(it,bId,bName));let matchedBy=\"keywordsAll.playerId|name\";if(!candidates.length){candidates=items.filter(it=>itemHasBatter(it,bId,bName));matchedBy=\"broad.nameOrId\";}let d=null,a=null,pickedFrom=\"\";for(const it of candidates){const urls=getPlaybacks(it);const diamond=urls.filter(u=>/mlb-cuts-diamond\\.mlb\\.com/i.test(u));const pd=prefer4000K(diamond);if(pd){d=pd;pickedFrom=it?.headline||it?.title||\"\";break;}}if(!d) return {d:null,a:null,pickedFrom:\"\",matchedBy:\"noDiamond\"};const darkroomItems=items.filter(it=>itemHasBatter(it,bId,bName)).map(it=>({it,urls:getPlaybacks(it)})).filter(x=>x.urls.some(u=>/darkroom-clips\\.mlb\\.com/i.test(u)));darkroomItems.sort((a,b)=>{const at=getText(a.it),bt=getText(b.it);const aHr=(at.includes(\"home run\")||at.includes(\"homers\")||at.includes(\"homer\"))?1:0;const bHr=(bt.includes(\"home run\")||bt.includes(\"homers\")||bt.includes(\"homer\"))?1:0;return bHr-aHr;});for(const x of darkroomItems){const pa=x.urls.find(u=>/darkroom-clips\\.mlb\\.com/i.test(u)&&/\\.mp4(\\?|$)/i.test(u));if(pa){a=pa;break;}}return {d,a,pickedFrom,matchedBy};}const out=[];for(const p of plays){const pj=p.json||{};const gamePk=pj.gamePk;const play=pj.play;if(!gamePk||!play) continue;const bId=play?.matchup?.batter?.id;const bName=play?.matchup?.batter?.fullName||\"\";const {d,a,pickedFrom,matchedBy}=selectClips(gamePk,bId,bName);if(!d) continue;out.push({json:{gamePk,play,d,a,debug:{matchedBy,pickedFrom,batter:bName,haveDarkroom:!!a}}});}return out;"
      },
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [-688,176],"id": "code-08","name": "08 Select 4000K + Animated1","retryOnFail": true,"alwaysOutputData": false,"waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const j=$json;const gamePk=j?.gamePk??null;const d=j?.d??null;if(!gamePk||!d){return [];}const play=j.play;const batter=play?.matchup?.batter?.fullName||\"\";const pitcher=play?.matchup?.pitcher?.fullName||\"\";const inning=`${play?.about?.halfInning||\"\"} ${play?.about?.inning||\"\"}`.trim();const desc=play?.result?.description||\"\";const atBat=(play?.about?.atBatIndex??0)+1;const num=`${gamePk}${String(atBat).padStart(3,'0')}`;const tzToday=$item(0).$node[\"02 Compute Dates1\"].json.today;const now=new Date();const today=tzToday||now.toISOString().slice(0,10);const dateCompact=today.replace(/-/g,'');const timePart=now.toISOString().slice(11,19).replace(/:/g,'');const baseDir=\"/Users/benbirkhahn/HomerTrakker/MLB_HomeRun_Posts\";const postsDir=`${baseDir}/${today}`;const videosDir=`${postsDir}/videos`;const a=j.a||null;const dName=d?d.split('/').pop().split('?')[0]:null;const aName=a?a.split('/').pop().split('?')[0]:null;const video1Path=d?`${videosDir}/homer_${num}_1_${dName}`:null;const video2Path=a?`${videosDir}/homer_${num}_2_animated_${aName}`:null;const seenPath=`${postsDir}/.seen_${num}`;const postText=`TONIGHT'S HOME RUN - READY FOR @homertrakker\n=======================================================\n\nCAPTION:\n🏠⚾ HOME RUN ALERT! ⚾🏠\n🔥 ${batter}\n⚾ vs ${pitcher}\n📊 ${inning}\n${desc}\n\nHASHTAGS:\n#MLB #HomeRun #Baseball #MLBShorts #Statcast\n\nVIDEOS:\n1. clip\n   ${d}\n2. clip\n   ${a||'null'}\n\nHOME RUN DATA:\nGamePk: ${gamePk}\nBatter: ${batter}\nInning: ${inning}\n`;const postPath=`${postsDir}/tonights_homer_${num}_${dateCompact}_${timePart}.txt`;return [{json:{today,num,postText,postPath,postsDir,videosDir,d,a,video1Path,video2Path,gamePk,seenPath}}];"
      },
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [-464,176],"id": "code-09","name": "09 Build Post + Paths","alwaysOutputData": true
    },
    {"parameters": {"executeOnce": false, "command": "=/bin/zsh -lc 'mkdir -p \"{{$json.postsDir}}\" \"{{$json.videosDir}}\"'"},
      "id": "exec-10","name": "10 Ensure Dirs1","type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [-16,176],"alwaysOutputData": true},
    {"parameters": {"jsCode": "const out=[];const src=$items(\"09 Build Post + Paths\",0)||[];for(const it of src){const j=it.json||{};const isMp4=(typeof j.d==='string' && /\\.mp4(\\?|$)/i.test(j.d));if(isMp4) out.push({json:j});}return out;"},
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [208,176],"id": "code-filt-d","name": "Filter Diamond URLs"},
    {"parameters": {"url": "={{$json.d}}", "options": {"response": {"response": {"responseFormat": "file"}}, "timeout": 20000}},
      "id": "http-13","name": "13 Download Diamond","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [432,176],"retryOnFail": true,"waitBetweenTries": 5000},
    {"parameters": {"operation": "write","fileName": "={{$json.video1Path}}","dataPropertyName": "=data","options": {}},
      "type": "n8n-nodes-base.readWriteFile","typeVersion": 1,
      "position": [656,176],"id": "file-save-d","name": "Save Diamond"},
    {"parameters": {"command": "=/bin/zsh -lc 'touch \"{{$json.seenPath}}\"'"},
      "id": "exec-mark-seen","name": "Mark Seen","type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [880,176]},
    {"parameters": {"jsCode": "const out=[];const src=$items(\"09 Build Post + Paths\",0)||[];for(const it of src){const j=it.json||{};const isMp4=(typeof j.a==='string' && /\\.mp4(\\?|$)/i.test(j.a));if(isMp4) out.push({json:j});}return out;"},
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [208,368],"id": "code-filt-a","name": "Filter Animated URLs"},
    {"parameters": {"url": "={{$json.a}}","options": {"response": {"response": {"responseFormat": "file"}}, "timeout": 20000}},
      "id": "http-15","name": "15 Download Animated","type": "n8n-nodes-base.httpRequest","typeVersion": 3,
      "position": [432,368],"retryOnFail": true,"waitBetweenTries": 5000},
    {"parameters": {"operation": "write","fileName": "={{$json.video2Path}}","dataPropertyName": "=data","options": {}},
      "type": "n8n-nodes-base.readWriteFile","typeVersion": 1,
      "position": [656,368],"id": "file-save-a","name": "Save Animated"},
    {"parameters": {"jsCode": "const src=$items(\"09 Build Post + Paths\",0)||[];const out=[];for(const it of src){const j=it.json||{};const buf=Buffer.from(String(j.postText||''),'utf8');const bin=await this.helpers.prepareBinaryData(buf,'post.txt');out.push({json:j,binary:{data:bin}})}return out;"},
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [208,-16],"id": "code-11","name": "11 Make Post Binary"},
    {"parameters": {"operation": "write","fileName": "={{$json.postPath}}","dataPropertyName": "=data","options": {}},
      "type": "n8n-nodes-base.readWriteFile","typeVersion": 1,
      "position": [432,-16],"id": "file-12","name": "12 Write Post"},
    {"parameters": {"command": "=/bin/zsh -lc '[ -f \"{{$json.seenPath}}\" ] && echo NEW_STATUS=SEEN || echo NEW_STATUS=NEW'"},
      "id": "exec-check","name": "Check Already Seen","type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [-240,80]},
    {"parameters": {"jsCode": "const out=[];const checks=$input.all();const srcItems=$items('09 Build Post + Paths',0)||[];for(let i=0;i<checks.length;i++){const chk=checks[i]?.json||{};const status=String(chk.stdout??chk.data??'').trim();if(status.includes('NEW_STATUS=NEW')){const src=srcItems[i]?.json||{};out.push({json:src});}}return out;"},
      "type": "n8n-nodes-base.code","typeVersion": 2,
      "position": [-16,80],"id": "code-gate","name": "Gate NEW"},
    {"parameters": {"mode": "chooseBranch","numberInputs": 3},
      "type": "n8n-nodes-base.merge","typeVersion": 3.2,
      "position": [1104,176],"id": "merge-16","name": "Merge"},
    {"parameters": {"command": "=/bin/zsh -lc 'export HOMER_REQUIRE_BOTH=0 HOMER_BROADCAST_MAX_SECS=15 HOMER_TOTAL_MAX_SECS=30; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/shorts_video_compiler.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"},
      "type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [1328,176],"id": "exec-17","name": "17 Compile Shorts"},
    {"parameters": {"command": "=/bin/zsh -lc 'export HOMER_NOTIFY_PHONE=+19144142424; /Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/uploader_runner.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"},
      "type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [1552,176],"id": "exec-18","name": "18 Upload to YouTube"},
    {"parameters": {"command": "=/bin/zsh -lc '/Users/benbirkhahn/twitter_bot_env/bin/python3 /Users/benbirkhahn/HomerTrakker/cleanup_media.py {{$item(0).$node[\"02 Compute Dates1\"].json.today}}'"},
      "type": "n8n-nodes-base.executeCommand","typeVersion": 1,
      "position": [1776,176],"id": "exec-19","name": "19 Cleanup Media"}
  ],
  "connections": {
    "01 Cron1": {"main": [[{"node": "02 Compute Dates1","type": "main","index": 0}]]},
    "02 Compute Dates1": {"main": [[{"node": "03 Schedule Today1","type": "main","index": 0},{"node": "03b Schedule Yesterday1","type": "main","index": 0}]]},
    "03 Schedule Today1": {"main": [[{"node": "04 Filter Active Games1","type": "main","index": 0}]]},
    "03b Schedule Yesterday1": {"main": [[{"node": "04 Filter Active Games1","type": "main","index": 0}]]},
    "04 Filter Active Games1": {"main": [[{"node": "05 Live Feed1","type": "main","index": 0}]]},
    "05 Live Feed1": {"main": [[{"node": "06 Extract New HR Plays1","type": "main","index": 0}]]},
    "06 Extract New HR Plays1": {"main": [[{"node": "07 Game Content1","type": "main","index": 0}]]},
    "07 Game Content1": {"main": [[{"node": "08 Select 4000K + Animated1","type": "main","index": 0}]]},
    "08 Select 4000K + Animated1": {"main": [[{"node": "09 Build Post + Paths","type": "main","index": 0}]]},
    "09 Build Post + Paths": {"main": [[{"node": "Check Already Seen","type": "main","index": 0}]]},
    "Check Already Seen": {"main": [[{"node": "Gate NEW","type": "main","index": 0}]]},
    "Gate NEW": {"main": [[{"node": "10 Ensure Dirs1","type": "main","index": 0}]]},
    "10 Ensure Dirs1": {"main": [[{"node": "Filter Diamond URLs","type": "main","index": 0},{"node": "Filter Animated URLs","type": "main","index": 0},{"node": "11 Make Post Binary","type": "main","index": 0}]]},
    "Filter Diamond URLs": {"main": [[{"node": "13 Download Diamond","type": "main","index": 0}]]},
    "13 Download Diamond": {"main": [[{"node": "Save Diamond","type": "main","index": 0}]]},
    "Save Diamond": {"main": [[{"node": "Mark Seen","type": "main","index": 0}]]},
    "Mark Seen": {"main": [[{"node": "Merge","type": "main","index": 1}]]},
    "Filter Animated URLs": {"main": [[{"node": "15 Download Animated","type": "main","index": 0}]]},
    "15 Download Animated": {"main": [[{"node": "Save Animated","type": "main","index": 0}]]},
    "Save Animated": {"main": [[{"node": "Merge","type": "main","index": 2}]]},
    "11 Make Post Binary": {"main": [[{"node": "12 Write Post","type": "main","index": 0}]]},
    "12 Write Post": {"main": [[{"node": "Merge","type": "main","index": 0}]]},
    "Merge": {"main": [[{"node": "17 Compile Shorts","type": "main","index": 0}]]},
    "17 Compile Shorts": {"main": [[{"node": "18 Upload to YouTube","type": "main","index": 0}]]},
    "18 Upload to YouTube": {"main": [[{"node": "19 Cleanup Media","type": "main","index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "homertrakker-dedupe-v2",
  "meta": {"instanceId": "local"},
  "id": "HOMER_DEDUPE_V2",
  "tags": []
}
